.movieGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;
    
  }
  
  .poster {
    position: relative;
    max-width: 200px;
    overflow: hidden;
    border-radius: 10px;

  }
  
  .poster img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    overflow: hidden;
    transform-origin: center;
  }
  
  .main {
    padding: 15px 50px 15px;
    min-height: fit-content;
  }
  
  .poster:hover .details {
    opacity: 1;
    bottom: 0;
  }

  .poster:hover img {
    transform: scale(1.2);
    transition: transform 0.6s;
    overflow: hidden;
  }
  
  .details {
    position: absolute;
    bottom: -100%;
    width: auto;
    min-height: fit-content;
    min-width: 100%;
    max-height: 90%;
    padding: 1.5em 1.5em 2em ;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: 0.5s;
    color: #fff;
    z-index: 2;
    opacity: 0;
    overflow: auto;

  }

  .details p {
    margin-right: 1.5em;
  }
  